body {
	margin:30px;
	background-color:#e5eff7;
}
#messageArea {
	display:none;
}

#message {
	resize:none;
}

.chat{
	height:500px;
	overflow-y:auto;
}

.imageMessage {
	height: inherit;
	width: inherit;
}